body {
    font-family: Georgia, 'Cambria';

}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
#header {
    background-color: #000000;
    top: 0;
    position: sticky;
}

.navbar {
    padding: 0;
    left: 0;
    margin: auto;
    font-size: 88px;

}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px 10px 10px;
    font-size: 18px;
    color: snow;
    white-space: nowrap;
    transition: 0.3s;
    text-decoration: none;
}

.navbar a i,
.navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
    color: #000000;
    background-color: #F4CC54;
    text-decoration: none;
}


.navbar .dropdown ul {
    display: block;
    position: absolute;
    /* left: 14px; */
    font-size: 15px;
    top: calc(100% + 30px);
    margin: 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #000000;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
}

.navbar .dropdown ul li {
    min-width: 200px;
}

.navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 15px;
    text-transform: none;
}

.navbar .dropdown ul a i {
    font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
    color: #000000;
    background-color: #F4CC54;
}

.navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
}

@media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
        left: -90%;
    }

    .navbar .dropdown .dropdown:hover>ul {
        left: -100%;
    }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
    color: snow;
    font-size: 28px;
    cursor: pointer;
    display: none;
    transition: 0.5s;
    justify-content: center;
}

.mobile-nav-toggle::after {
    content: "Menu";
}

.mobile-nav-toggle.bi-x {
    color: #fff;
}

@media (max-width: 991px) {
    .mobile-nav-toggle {
        display: block;
    }

    .navbar ul {
        display: none;
    }
}

.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #000000;
    transition: 0.3s;
}

.navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
}

.navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    color: snow;
    overflow-y: auto;
    transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
    padding: 10px 20px;
    font-size: 15px;
    color: snow;
    text-decoration: none;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
    color: #000000;
    text-decoration: none;
}


.navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #000000;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
    min-width: 200px;
}

.navbar-mobile .dropdown ul a {
    padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
    font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul li:hover>a {
    color: #000000;
}


.navbar-mobile .dropdown>.dropdown-active {
    display: block;
}

/*******************************/
/*********Service CSS***********/
/*******************************/

/*******************************/
/*********Service CSS***********/
/*******************************/
.section-header {
    position: relative;
    width: 100%;
    text-align: center;
    }
    .section-header h2 {
    margin: 0;
    position: relative;
    font-size: 60px;
    font-weight: 700;
    white-space: nowrap;
    z-index: 1;
    }
    h2 {
    font-family: 'EB Garamond', serif;
    font-weight: 600;
    font-style: italic;
    color: #121518;
    }
    .section-header h2::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 8px;
    left: 0;
    top: 21px;
    background: transparent;
    border-top: 1px solid saddlebrown;
    border-bottom: 1px solid saddlebrown;
    z-index: -1;
    }
    .section-header h2::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 8px;
    left: 0;
    bottom: 25px;
    background: transparent;
    border-top: 1px solid saddlebrown;
    border-bottom: 1px solid saddlebrown;
    z-index: -1;
    }

/* Design */
*,
*::before,
*::after {
  box-sizing: border-box;
}


.cmain{
    padding: 1rem;
  max-width: 1200px;
  margin: 0 auto;
}


.card_img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btn1 {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
}

.btn1:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.gcard {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  padding: 1rem;
  background: linear-gradient(to bottom left, #181616 40%, #F4CC4C 100%);
}

.card_title {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

#footer {
    padding: 60px 0;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
}

#footer {
    text-align: center;
    color: #007b5e;
    text-transform: uppercase;
}

#footer {
    background: black !important;
}

#footer h5 {
    padding-left: 10px;
    border-left: 3px solid black;
    ;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color: rgb(244, 204, 84);
}

#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

#footer ul.social li {
    padding: 3px 0;
}

#footer ul.social li a i {
    margin-right: 5px;
    font-size: 25px;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}

#footer ul.social li:hover a i {
    font-size: 30px;
    margin-top: -10px;

}

#footer ul.social li a,
#footer ul.quick-links li a {
    color: #ffffff;
}

#footer ul.social li a:hover {
    color: rgb(244, 204, 84);
}

#footer ul.quick-links li {
    padding: 3px 0;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}

#footer ul.quick-links li:hover {
    padding: 3px 0;
    margin-left: 5px;
    font-weight: 700;


}

#footer ul.quick-links li a i {
    margin-right: 5px;
}

#footer ul.quick-links li:hover a i {
    font-weight: 700;
    color: rgb(244, 204, 84);
}

@media (max-width:767px) {
    #footer h5 {
        padding-left: 0;
        border-left: transparent;
        padding-bottom: 0px;
        margin-bottom: 10px;
    }
}

.row {
    --bs-gutter-x: -5.5rem;
}

.h6 {
    color: rgb(244, 204, 84);
}